<div class="row">
    <div class="col-sm-2" style="background-color:antiquewhite;">
        <mat-nav-list role="navigation" class="mat-mdc-nav-list mat-mdc-list-base mdc-list " aria-disabled="false"><a
                mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/autocomplete" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Autocomplete
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted docs-component-viewer-sidenav-item-selected"
                href="/badge" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Badge </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/bottom-sheet" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Bottom Sheet
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/button" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Button
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/button-toggle" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Button toggle
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/card" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Card </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/checkbox" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Checkbox
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/chips" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Chips </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/core" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Core </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/datepicker" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Datepicker
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/dialog" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Dialog
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/divider" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Divider
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/expansion" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Expansion Panel
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/form-field" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Form field
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/grid-list" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Grid list
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/icon" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Icon </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/input" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Input </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/list" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> List </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/menu" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Menu </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/paginator" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Paginator
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/progress-bar" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Progress bar
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/progress-spinner" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Progress spinner
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/radio" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Radio button
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/ripple" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Ripples
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/select" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Select
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/sidenav" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Sidenav
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/slide-toggle" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Slide toggle
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/slider" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Slider
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/snack-bar" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Snackbar
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/sort" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Sort header
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/stepper" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Stepper
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/table" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Table </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/tabs" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Tabs </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/toolbar" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Toolbar
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/tooltip" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Tooltip
                    </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a><a mat-list-item="" routerlinkactive="docs-component-viewer-sidenav-item-selected"
                class="mat-mdc-list-item mdc-list-item mat-mdc-list-item-interactive  _mat-animation-noopable mat-mdc-list-item-single-line mdc-list-item--with-one-line ng-star-inserted"
                href="/tree" aria-disabled="false"><span class="mdc-list-item__content"><span
                        class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"> Tree </span></span>
                <div class="mat-mdc-focus-indicator"></div>
            </a>
        </mat-nav-list>
    </div>
    <div class="col-sm-10" style="background-color:azure;padding: 30px;">
        <router-outlet></router-outlet>
    </div>
</div>