Basic Inputs

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>

Inputs with prefixes and suffixes
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+84 &nbsp;</span>
      <input type="tel" matInput placeholder="000-000-000">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
  